body {
  background-color: #001f3f;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
}

h1 {
  color: #01ff70;
}

.Metamask {
  background-color: #0074cc;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.userInfo {
  margin-top: 20px;
}
